.custom-search-input {
  width: 500px;
}

#search-bar {
  padding-bottom: 20px;
}

.img-fluid {
  max-width: 200px;
  max-height: 200px;
}

/* .p {
  padding-right: 10px;
} */

.card {
  width: 20rem;
  /* max-width: 100px; */
}