.custom-search-input {
  width: 500px;
}

#search-bar {
  padding-bottom: 20px;
}

.img-fluid {
  max-width: 200px;
  max-height: 200px;
}

/* .p {
  padding-right: 10px;
} */

.card {
  width: 20rem;
  max-height: 1000px;
  height: 100%;
  /* max-width: 100px; */
  overflow: visible;
}

.recipe-details-card {
  width: 40rem;
  height: 40rem;
}

@media (max-width: 768px) {
  .recipe-details-card {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Allow height to adjust based on content */
    max-width: 40rem; /* Set a maximum width to maintain readability */
    /* Additional styles as needed */
  }
}

.card-footer {
  height: 35px;
}

.button-link {
  color: black;
  text-decoration: none;
}