.container {
  margin: 0 auto;
  padding: 20px;
}

.admin-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.admin-section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.collapsible-title {
  background-color: #f5f5f5;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-title:hover {
  background-color: #e0e0e0;
}

.collapsible-content {
  padding: 15px;
}

/* Table styling (adjust as needed) */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: normal;
}


.table th {
  background-color: #f5f5f5;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}