/* Navigation.css */
.cafe-name {
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.cafe-name-text {
    text-decoration: none;
    color: black;
}

.fixed-top-row {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed to ensure it's above other content */
    background-color: white; /* Set background color to white. alternatively, make the buttons see through too */
}

.icon-container {
    align-items: center; /* Center items vertically */
    vertical-align: middle;
    padding-top: 9px;
}

.icon:hover {
    border: 1px solid black;
}

.menu-horizontal ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    display: flex; /* Use flexbox */
    width: 100%; /* Set width to viewport width */
    margin-left: 0; /* Remove default margin */
    border-top: 1px solid black; /* Add top border */
    border-bottom: 1px solid black; /* Add bottom border */
    height: 55px;
}

.menu-vertical {
    position: absolute;
    top: 150;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: white;
    /*border-top: 1px solid black;  Add top border */
    /*border-bottom: 1px solid black;  Add bottom border */
}

.menu-vertical ul {
    margin: 0;
    padding: 0;
}

.menu-vertical li {
    /* border-top: 1px solid black; Add top border */
    border-bottom: 1px solid black; /* Add bottom border */
}


.custom-nav-row {
    width: 100%;
    padding-right: 0;
}

.menu-list {
    padding-left: 0;
    border-top: 1px solid black; /* Add top border */
    border-bottom: 1px solid black; /* Add bottom border */
}

/* note- change this to add borders in between elements. Have to figure out IF we want borders
    and how to make them not extend all the way in the box */
ul li:not(:last-child) {
    border-right: 1px solid white;
  }

li {
    flex: 1; /* Make all list items take equal space */
    display: block;
    color: black;
    text-align: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0; /* Adjust padding to center links vertically */
    text-decoration: none;
    text-transform:capitalize; /* Convert text to uppercase */
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #1111110e;
}

/* Change the link color to #111 (black) on hover */
.menu-active {
    background-color: #1111110e;
}
