h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.card {
    position: relative;
    /* Ensure child elements are positioned relative to the .card */
    border-radius: 0;
    border: 1px solid #00000034;
    margin: 15px;
    height: 500px;
    overflow: hidden;
    /* Hide any overflowing content */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .card {
        margin: 0;
        /* Remove margin to take up the whole screen width */
        height: 100vh;
        /* Set height to full viewport height */
        width: 90vh;
    }
}

.card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.403);
    border: 1px solid black;

}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font: Times New Roman;
}

.category {
    font-weight: bold;
}

.card img {
    display: block;
    max-width: 100%;
    /* Ensure the image does not exceed the card width */
    height: 280px;
    /* Ensure the image does not exceed the card height */
    object-fit: cover;
    /* Crop the image to cover the specified height and width */
    border-radius: 0;
}

.card-body {
    padding: 10px;
    padding-top: 0px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Show ellipsis (...) if text overflows horizontally */
    max-height: calc(1.2em * 8);
    /* Maximum height for six lines of text */
    line-height: 1.2em;
    /* Line height for the text */
}

.card-buttons {
    position: absolute;
    bottom: 0;
    background-color: #f9f9f9;
    overflow: hidden;
    margin: 8px;
}

.card-button-group {
    width: 100%;
}
