h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.card {
    position: relative;
    /* Ensure child elements are positioned relative to the .card */
    border-radius: 0;
    border: 1px solid #00000034;
    margin: 15px;
    height: 450px;
    overflow: hidden;
    
}

.button-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust height as needed */
    padding: 0 10px; /* Optional padding for buttons */
}


/* Media query for small screens */
@media (max-width: 768px) {
    .card {
        margin: 5px;
        /* Remove margin to take up the whole screen width */
        /* Set height to full viewport height */
        width: 99vh;
    }
}

.card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.403);
    border: 1px solid black;

}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font: Times New Roman;
}

.category {
    font-weight: bold;
}

.card img {
    display: block;
    max-width: 100%;
    /* Ensure the image does not exceed the card width */
    height: 280px;
    /* Ensure the image does not exceed the card height */
    object-fit: cover;
    /* Crop the image to cover the specified height and width */
    border-radius: 0;
}

.card-body {
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    margin-top: 0;
    overflow: hidden;
    /* Set the maximum number of lines before showing ellipsis */
    max-height: calc(1.2em * 6); /* Adjust the number of lines as needed */
    line-height: 1.2em;
    /* Allow text to wrap naturally */
    word-wrap: break-word;
    /* Show ellipsis (...) for overflowing text */
    text-overflow: ellipsis;
    /* Ensure that the text does not overflow horizontally */
    white-space: normal;
}



.card-buttons {
    position: absolute;
    bottom: 0;
    background-color: #f9f9f9;
    overflow: hidden;
    margin: 8px;
}

.card-button-group {
    width: 100%;
}

.reactive-col {
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
    border: 1px solid rgba(128, 128, 128, 0.104);
    height: 40px;
    text-align: center;
}

.green-reactive-col {
    background-color: #dcfddd;
}

.red-reactive-col {
    background-color: rgb(253, 209, 209);
}

.gray-reactive-col {
    background-color: rgb(224, 220, 220);
}

.green-reactive-col:hover {
    background-color: #bcf4be;
}

.red-reactive-col:hover {
    background-color: rgb(246, 130, 130);
}

.gray-reactive-col:hover {
    background-color: rgb(190, 186, 186);
}